<div class="card">
  <div class="card-header">
    Perfumeria Megara 
  </div>
  <div class="card-body">
    <h5 class="card-title">Estamos ubicados en la calle sierra de alica #422 colonia centro</h5>
    <p class="card-text">Nuestro correo es:perfumesmegara@gmail.com y telefono: 4921264982</p>
  </div>
</div>