<div class="card text-center mt-5">
  <div class="card-header">
    Perfumeria Megara
  </div>
  <div class="card-body">
    <h5 class="card-title">Encuentra una variedad extensa de perfumes de todas las marcas</h5>
   <img src="/img/megara.jpg" class="card-img-top " style="height: 250px; width:250px" alt="...">
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>