<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Bienvenido a la Perfumeria</h5>
    <p class="card-text">Encuentra cualquier perfume ya sea para ella o el.</p>
</div>
</div>