 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Perfumes Megara</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Proveedores
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/proves">Lista de Proveedores</a>
          <a class="dropdown-item" href="/prove/add">Agregar Proveedor</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Salir</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Ventas
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Venta de contado</a>
          <a class="dropdown-item" href="#">Venta a credito</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/clientes">Lista de clientes</a>
          <a class="dropdown-item" href="/cliente/add">Agregar cliente</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout">Salir</a>
        </div>
      </li>
    </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item active">
        <a class="nav-link" href="#">Iniciar<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Registrar<span class="sr-only">(current)</span></a>
      </li>

      </ul>
  </div>
</nav>